---
const { title, description, link } = Astro.props;

---

<article class="project-card">
    <h3>{title}</h3>
    <p>{description}</p>
    <a href={link} target="_blank" rel="noopener noreferrer">
        Ver Proyecto
    </a>
</article>